<html>
<head>
<title>Surface Area Of Right Cylinder</title>
<style type="text/css">
body 
{
background-color:pink;
}a
.edge {
width: 1440px;
margin-left: auto;
margin-right: auto;
padding-top: 1000px;
padding-left: 300px;
}
.box {
display:block;
border: ridge black;
width: 900px;
min-height: 500px;
font-size: 20px;
background-color:lightblue;
}
.aadhi
color:red;
text-align: center;
margin-top: 7px;
margin-bottom: 6px;
}
h1
{
color:black;
text-align: center;
padding-top: 20px;
}
</style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="edge" align="center">
<div class="box">
<h1>Surface Area Of A Right Cylinder</h1>
<br>
<br>
<form method="POST">
{% csrf_token %}
<div class="aadhi">
Radius : <input type="text" name="Radius" value="{{r}}"></input>(in m)<br/>
<br>
</div>
<div class="aadhi">
Height: <input type="text" name="Height" value="{{h}}"></input>(in m)<br/>
<br>
</div>
<div class="aadhi">
<input type="submit" value="Calculate"></input><br/>
<br>
</div>
<div class="aadhi">
Area : <input type="text" name="area" value="{{area}}"></input>m<sup>2</sup><br/>
</div>
</form>
</div>
</div>
</body>
</html>
